    <div class="content_menu">
      <ul>
        <li><%= link_to "ＴＯＰ",  "/" %></li>
        <li><%= link_to "営業", "/cards/ext_sales" %></li>
        <li><%= link_to "工事", "/cards/ext_const" %></li>
        <li><%= link_to "技術", "/cards/ext_eng" %></li>
        <li><%= link_to "業務", "/cards/ext_acct" %></li>
        <li><%= link_to "その他", "/cards/ext_other" %></li>
      </ul>
    </div>